/* CUSTOM CSS Starts here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
}
*{
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CAC8C8;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CAC8C8;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #CAC8C8;
  }


/*----------------- Navigation CSS Starts ---------------------*/

.margin-top {
    margin-top: 80px;
}

.navbar {
    --bs-navbar-padding-y: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 1px 0;
}

.navbar .navbar-nav li a.active  {
    color: #B91E31;
}

.navbar .navbar-nav li {
    margin: 0;
    margin-right: 26px;
}

.navbar .navbar-nav li a {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #2D3970;
}

.navbar .sign-up {
    background: #B91E31;
    padding: 12px 28px;
    color: #FFFFFF;
    white-space: nowrap;
    display: inline-block;
}

.navbar .call-link {
    margin: 0;
    margin-left: 52px;
    font-family: Poppins;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 38px;
    color: #B91E31;
}

.navbar .call-link img {
    margin-right: 15px;
}

.modal .modal-body {
    padding: 0;
}


.modal .modal_signup {
    width: 100%;
    height: 100%;
    border: 8px solid #FFFFFF;
    position: relative;
    padding: 40px 10px 30px;
    background-size: cover;
}

.modal_form_wrapper {
    display: flex;
    gap: 7px 67px;
    justify-content: center;
    margin-top: 7px;
    flex-wrap: wrap;
}

.modal_form_wrapper .mod-box {
    display: block;
    max-width: 232px;
    width: 100%;
}

.modal_form_wrapper label {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    margin-bottom: 11px;
}

.modal_form_wrapper input {
    max-width: 232px;
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.select-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
}

.select-wrapper .select-box {
    max-width: 162px;
    width: 100%;
}

.select-wrapper .select-box label {
    display: block;
    color: #FFFFFF;
    margin-bottom: 13px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
}

.select-wrapper .select-box .select-option {
    max-width: 120px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    padding-left: 5px;
    padding-right: 15px;
    outline: none;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 10px;
}

.modal_form .submit-btn {
    display: block;
    max-width: 273px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #B91E31;
    border: none;
    outline: none;
    color: #FFFFFF;
    margin: 47px auto 0;
}


/*----------------- Navigation CSS Ends ---------------------*/


/*----------------- Footer CSS Starts ----------------------*/

.footer {
    padding: 22px 0 35px;
}

.footer .footer-box {
    display: flex;
}

.footer .footer-box .footer-logo {
    padding-right: 254px;
}

.footer-wrapper {
    display: flex;
    gap: 10px 55px;
    padding-top: 30px;
}


.footer-wrapper .box-1 {
   width: 195px;
}

.footer-wrapper .box-2 {
   width: 259px;
}

.footer-wrapper .box-3 {
   width: 379px;
}

.footer .footer-box .footer-wrapper .wrapper-box h5 {
    color: #B91E31;
    text-decoration: underline;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 44px;
}

.footer .footer-box .footer-wrapper .wrapper-box ul li {
    margin-bottom: 4px;
}

.footer .footer-box .footer-wrapper .wrapper-box ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #2D3970;
}

.footer .footer-box .footer-wrapper .box-2 ul li {
    margin-bottom: 9px;
}

.footer .footer-box .footer-wrapper .box-2 ul li a {
    display: flex;
    align-items: baseline;
}

.footer .footer-box .footer-wrapper .box-3 .footer-label {
    color: #2D3970;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 14px;
    max-width: 227px;
    width: 100%;
} 

.footer .footer-box .footer-wrapper .box-3 .footer-form {
    display: flex;
}


.footer .footer-box .footer-wrapper .box-3 .footer-form input {
    max-width: 248px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    height: 45px;
    padding: 14px;
    border: 1px solid #CAC8C8;
    outline: none;
}

.footer .footer-box .footer-wrapper .box-3 .footer-form button {
    background-color: #B91E31;
    border: none;
    padding: 13px 0 12px;
    height: 45px;
    max-width: 131px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 110.5%;
    text-align: center;
    color: #FFFFFF;
}

.social-links {
    margin-top: 27px;
    display: flex;
    align-items: center;
}

.social-links .follow {
    color: #B91E31;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-decoration-line: underline;
    margin-right: 17px;
}

.social-links ul {
    display: flex;
}

.social-links ul li {
    margin-right: 8px;
}

.footer-end {
    padding: 2px 0;
    background: #141414;
}
.footer-end p {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

}

/*----------------- Footer CSS Ends ----------------------*/


.pickup {
    background: #2D3970;
    padding: 35px 0 43px;
}

.pickup p {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    color: #FFFFFF;
}


.banner-section {
    background-size: cover;
    background-repeat: no-repeat;
    height: 530px;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-section .banner-heading {
    color: #FFFFFF;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    z-index: 99;
}


.gallery-section {
    padding: 50px 0 0;
}

.gallery-img {
    max-width: 350px;
    margin: 0 25px 50px;
}

.gallery-img img:hover {
    cursor: pointer;
}

/* .gallery-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
} */


/* Career Page CSS Starts */

.career-section {
    padding: 35px 0 40px;
}

.career-section .career-content {
    height: 100%;
    position: relative;
}

.career-section .career-content h5 {
    color: #2D3970;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.career-section .career-content p {
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
    max-width: 625px;
    width: 100%;
    margin-bottom: 85px;
}

.career-section .career-content .apply-now {
    background-color: #B91E31;
    display: inline-block;
    max-width: 272px;
    width: 100%;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    bottom: 0;
}


/* Career Page CSS Ends */


.fort-banner-section {
    padding: 45px 0 90px;
}
.fort-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 416px;
}
.fort-banner::before {
    content: '';
    position: absolute;
    top: -15px;
    width: 100%;
    height: 10px;
    background: #B91E31;
} 
.fort-banner::after {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 10px;
    background: #B91E31;
} 
.fort-container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


/*--------- Go To Top Button CSS Starts --------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 9999;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
/*-----------Go To Top Button CSS Ends--------------*/

/*----------- Testimonial CSS Starts ---------------*/

.testimonial-section {
    padding: 68px 0 0;
}

.testimonial-section .swiper {
    padding: 100px 0;
    max-width: 1425px;
    width: 100%;
}


.testimonial-section h2 {
    color: #2D3970;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    max-width: 416px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.testimonial-section .testimonial-card {
    border: 1px solid #B91E31;
    /* width: 430px; */
    max-width: 430px;
    width: 100%;
    height: 460px;
    position: relative;
    margin: 0 auto;
}

.testimonial-section .testimonial-card .review-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.testimonial-section .testimonial-card h3 {
    color: #2D3970;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 5px;
}

.testimonial-section .testimonial-card .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.testimonial-section .testimonial-card .stars span {
    margin-right: 2px;
}

.testimonial-section .testimonial-card .review {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 275px;
}

.testimonial-section .testimonial-card .review-detail {
    padding: 0 40px;
    display: flex;
    gap: 110px;
    margin-bottom: 24px;
    position: absolute;
    bottom: 0;
}

.testimonial-section .testimonial-card .review-detail p {
    color: #2D3970;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.testimonial-section .swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 1px solid #B91E31;
    background: transparent;
    opacity: 1;
}


.swiper-pagination-bullet-active {
    background: #2D3970 !important;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
}

/*----------- Testimonial CSS Ends -----------------*/


/*----------- About Page CSS Starts ---------------*/


.about-flex {
    display: flex;
}

.about-banner-box {
    position: relative;
}

.about-heading {
    position: absolute;
    top: 38%;
    left: 22%;
}

.about-heading h1 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 90px;
    text-align: left;

}

.about-section {
    margin: 36px 0 58px;
}

.about-section h3 {
    color: #B91E31;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    margin-bottom: 16px;
}

.about-section p {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 24px;
}

.about-section .about-wrapper p:last-child {
    font-weight: 700;
    margin-bottom: 58px;
}

.about-section .about-box {
    height: 100%;
    padding: 30px 40px 70px;
}

.about-section .blue {
    background-color: #2D3970;
    width: 100%;
}

.about-section .red {
    background-color: #B91E31;
    width: 100%;
}

.about-section .about-box h5 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.about-section .about-box p {
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.about-section .about-box ul {
    position: relative;
    left: 50px;
}

.about-section .about-box ul li {
    list-style: disc;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;
    max-width: 677px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
}

/*----------- About Page CSS Ends ---------------*/



/*----------- Pick up Page CSS Starts ------------*/


.pickup-flex {
    display: flex;
}

.pickup-banner-box {
    position: relative;
}

.pickup-heading {
    position: absolute;
    top: 0;
    padding-top: 115px;
    padding-left: 163px;
}

.pickup-heading h1 {
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 90px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.pickup-heading p {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: #FFFFFF;
    max-width: 563px;
}

.pickup-section {
    padding: 44px 0 10px;
}

.pickup-section h3 {
    color: #2D3970;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.pickup-section h6 {
    color: #B91E31;
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    margin-bottom: 42px;
}

.pickup-section .delivery-form {
    border: 2px solid #2D3970;
    max-width: 1220px;
    width: 100%;
    margin: 18px auto;
    padding: 38px 10px;
}

.pickup-section .delivery-form .form-box {
    display: flex;
    justify-content: center;
    gap: 14px 95px;
    max-width: 643px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.pickup-section .delivery-form .form-box .input-box {
    display: block;
    max-width: 274px;
    width: 100%;
}

.pickup-section .delivery-form .form-box .input-box label, input {
    display: block;
    width: 100%;
}

.pickup-section .delivery-form .form-box .input-box label, .address-box label, .form-2 .form-2-box p {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}

.pickup-section .delivery-form .form-box .input-box input, .address-box input {
    padding: 6px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.pickup-section .delivery-form .address-box {
    max-width: 643px;
    width: 100%;
    margin: 34px auto 26px;
}

.pickup-section .delivery-form .address-box input {
    width: 100%;
    margin-bottom: 7px;
}

.pickup-section .form-2 {
    padding: 13px 10px 26px;
}

.pickup-section .form-2 .form-2-box {
    max-width: 648px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 13px;
}

.pickup-section .form-2 .form-2-box .radio-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pickup-section .form-2 input[type="radio"] {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.pickup-section .form-2 label {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #000000;
    margin: 0;
    margin-left: 5px;
}

.pickup-section .form-2 .form-2-box .radio-box .radio-wrap { 
    max-width: 126px;
    width: 100%;
    display: flex;
    align-items: center;
}


.pickup-section .form-2 .form-2-box .radio-box .other-option {
    max-width: 274px;
    width: 100%;
    margin-top: 13px;
}

.pickup-section .form-2 .form-2-box .radio-box .other-option input {
    padding: 6px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.pickup-section .form-2 button[type="submit"] {
    max-width: 273px;
    width: 100%;
    margin: 52px auto 0;
    display: block;
    background-color: #B91E31;
    border: none;
    padding: 13px 0 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}


