@media(min-width:1600px){
    .container {
        max-width: 1600px;
    }
}


@media (max-width: 1860px) {
    .van_image_slider {
        max-width: 900px;
        clip-path: polygon(15% 0%, 100% 0, 100% 100%, 9% 100%, 0 82%);
    }
    /* .home_slider {
        justify-content: end;
    }     */
 }


 @media (max-width: 1699px) {
    .maincontent h1 {
        font-size: 48px;
        line-height: 65px;
        padding-left: 30px;
    }

    .mainform form input[type="email"] {
        max-width: 250px;
    }

    .van_image_slider {
        max-width: 820px;
        clip-path: polygon(17% 0%, 100% 0, 100% 100%, 10% 100%, 0 82%);
    }

    .mainform {
        padding-left: 30px;
    }

        .service-section .service-wrapper .service-list {
        padding-left: 35px;
    } 
  }


@media (max-width: 1690px) {
    .pickup-heading {
        position: absolute;
        top: 0;
        padding-top: 90px;
        padding-left: 130px;
    }
    .pickup-heading h1 {
        font-size: 58px;
        line-height: 82px;
        margin-bottom: 22px;
    }
    .pickup-heading p {
        font-size: 28px;
        font-weight: 500;
        line-height: 45px;
        color: #FFFFFF;
        max-width: 500px;
    }
}

@media (max-width: 1640px) {
    .van_image h1 {
        font-size: 45px;
        line-height: 75px;
        padding-top: 35px;
    }

    .van_image_slider {
        max-width: 800px;
    }
}


@media (max-width: 1599px) {

    .navbar .call-link {
        margin-left: 30px;
        font-size: 22px;
        line-height: 32px;
    }

    .navbar .sign-up {
        padding: 10px 22px;
        font-size: 18px;
        line-height: 24px;
    }

    .navbar .call-link img {
        margin-right: 8px;
    }

    .navbar .navbar-nav li {
        margin: 0;
        margin-right: 24px;
    }

    .footer .footer-box {
        justify-content: space-between;
    }
    .footer .footer-box .footer-logo {
        padding-right: 10px;
        padding-top: 10px;
    }
    .footer .footer-box .footer-logo img {
        max-width: 345px;
        width: 100%;
    }

    .footer-wrapper {
        gap: 10px 30px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box h5 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 42px;
    }

    .quality-section .quality-box h3 {
        font-size: 38px;
        padding: 45px 0;
    }

    .about-section p {
        font-size: 26px;
        line-height: 40px;
    }

    .about-section .about-box h5 {
        font-size: 38px;
        line-height: 54px;
    }

    .about-section .about-box p, .about-section .about-box ul li {
        font-size: 22px;
        line-height: 36px;
    }

    .award img {
        max-width: 300px;
        width: 100%;
    }

    .quality-section .quality-box .mySlider .quality-point {
        padding: 0 16px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 18px;
        line-height: 28px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 30px;
        margin-bottom: 22px;
        gap: 80px;
    }

    .pickup-heading {
        padding-top: 100px;
        padding-left: 115px;
    }

    .pickup-heading h1 {
        font-size: 54px;
        line-height: 76px;
        margin-bottom: 20px;
    }

    .pickup-heading p {
        font-size: 22px;
        line-height: 44px;
        max-width: 480px;
    }

    .banner-section .banner-heading {
        font-size: 55px;
        line-height: 70px;
    }

    .fort-banner-section {
        padding: 45px 0 45px;
    }

    .fort-banner-first {
        padding: 20px 0;
    }

    .career-section .career-content h5 {
        margin-bottom: 25px;
        font-size: 38px;
        line-height: 54px;
    }

    .career-section .career-content p {
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 60px;
    }

    .pickup-section .form-2 button[type="submit"] {
        max-width: 240px;
        margin: 40px auto 0;
    }

    .pickup-section .form-2 .form-2-box .radio-box .other-option input {
        line-height: 20px;
    }

    .pickup-section .form-2 .form-2-box .radio-box .other-option {
        max-width: 250px;
    }

    .pickup-section .delivery-form .form-box .input-box input, .address-box input {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonial-section .testimonial-card {
        max-width: 390px;
    }

    .testimonial-section .swiper .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }

    .banner-section {
        height: 420px;
    }

    .banner-section .banner-heading {
        font-size: 52px;
        line-height: 60px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        max-width: 205px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        max-width: 120px;
    }

    .quality-section .quality-box {
        min-height: auto;
    }

    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 45px;
        font-size: 38px;
        line-height: 42px;
    }
     .van_image_slider {
        max-width: 730px;
        clip-path: polygon(18% 0%, 100% 0, 100% 100%, 10% 100%, 0 82%);
    }   
    .maincontent h1 {
        font-size: 46px;
        line-height: 60px;
    }

    .van_image h1 {
        font-size: 45px;
        line-height: 55px;
        padding-top: 65px;
    }

    .mainconentbottom .leftconet h1 {
        font-size: 28px;
    }

    .mainconentbottom .leftconet p {
        font-size: 18px;
    }

    .maincontent {
        padding-top: 30px;
        padding-left: 30px;
    }

    .service-section .service-wrapper .service-list ol li {
        font-size: 28px;
        line-height: 44px;
    }

    .service-section .service-wrapper .service-list .book-btn {
        margin-top: 35px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 900px;
        padding-top: 185px;
        padding-left: 175px;
    }

    .service-section .service-wrapper .service-list {
        padding-left: 70px;
        padding-top: 115px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 54px;
        line-height: 64px;
    }


}


@media (max-width: 1499px) {

    .hh, .van_image_slider, .van_image {
        height: 600px;
    }

    .van_image_slider::after {
        height: 110px;
    }

    .van_image h1 {
        padding-top: 45px;
    }


 }


@media (max-width: 1428px) {
    .about-section p {
        font-size: 26px;
    }

    .pickup-heading p {
        font-size: 21px;
        line-height: 42px;
        max-width: 460px;
    }

    .pickup-heading h1 {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 18px;
    }

    .van_image_slider {
        max-width: 660px;
        clip-path: polygon(19% 0%, 100% 0, 100% 100%, 11% 100%, 0 82%);
    }

    .service-section .service-wrapper .service-box {
        max-width: 800px;
    }
}

@media (max-width: 1399px) {

    .pickup-section h3 {
        font-size: 36px;
        line-height: 56px;
    }

    .pickup-section h6 {
        font-size: 22px;
        line-height: 34px;
    }

    .pickup-section .delivery-form .form-box .input-box label, .address-box label, .form-2 .form-2-box p {
        margin-bottom: 5px;
    }

    .pickup-section .form-2 button[type="submit"] {
        max-width: 220px; 
    }

    .banner-section .banner-heading {
        font-size: 46px;
        line-height: 52px;
    }

    .testimonial-section .swiper .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
    }

    #myBtn img {
        width: 35px;
        height: 35px;
    }

    .pickup-section .delivery-form .form-box .input-box input, .address-box input {
        height: 35px;
        font-size: 16px;
        line-height: 24px;
    }

    .pickup-section .delivery-form .address-box {
        margin: 20px auto;
    }

    .career-section .career-content h5 {
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 45px;
    }

    .career-section .career-content p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 50px;
    }

    .pickup-heading {
        padding-top: 85px;
        padding-left: 90px;
    }

    .fort-container {
        justify-content: center;
        column-gap: 80px;
    }

    .award img {
        max-width: 200px;
    }
    
    .navbar .call-link {
        margin-left: 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .navbar .call-link img {
        margin-right: 6px;
        width: 26px;
    }

    .navbar .navbar-nav li {
        margin-right: 22px;
    }

    .navbar .navbar-nav li a {
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .sign-up {
        padding: 7px 18px;
        font-size: 16px;
        line-height: 22px;
    }

    .footer .footer-box .footer-logo img {
        max-width: 280px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box h5 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 25px;
    }

    .footer .footer-box .footer-logo {
        padding-top: 15px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box ul li a {
        font-size: 16px;
        line-height: 25px;
    }

    .footer-wrapper .box-1 {
        width: 180px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-label {
        font-size: 18px;
        line-height: 24px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        max-width: 165px;
        font-size: 15px;
        height: 35px;
        padding: 10px;
        padding-right: 0;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        max-width: 100px;
        font-size: 15px;
        height: 35px;
        padding: 0;
        line-height: 35px;
    }

    .footer-wrapper .box-3 {
        width: 270px;
    }

    .social-links {
        margin-top: 20px;
    }

    .social-links .follow {
        font-size: 18px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box ul li a img {
        width: 25px;
        margin-top: 4px;
    }

    .footer-end p {
        font-size: 16px;
        line-height: 32px;
    }

    .footer-wrapper {
        gap: 10px 20px;
    }

    .footer-wrapper .box-2 {
        width: 220px;
    }

    .footer .footer-box .footer-wrapper .box-2 ul li a {
        align-items: flex-start;
    }

    .about-section h3 {
        font-size: 28px;
        line-height: 40px;
    }

    .about-section p {
        font-size: 20px;
        line-height: 32px;
    }

    .about-section .about-box p, .about-section .about-box ul li {
        font-size: 18px;
        line-height: 30px;
    }

    .about-section .about-box ul {
        left: 35px;
        max-width: 430px;
        width: 100%;
    }

    .about-section .about-box h5 {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 22px;
    }

    .about-section .about-box {
        padding: 30px 40px 45px;
    }

    .about-heading h1 {
        font-size: 45px;
    }

    .inspection-section h3 {
        font-size: 36px;
        line-height: 45px;
    }

    .inspection-section h6 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 35px;
    }

    .inspection-list ul li {
        font-size: 20px;
        line-height: 32px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .testimonial-section .testimonial-card .review {
        font-size: 16px;
        line-height: 26px;
    }

    .testimonial-section .testimonial-card h3 {
        margin-top: 100px;
        line-height: 28px;
        font-size: 20px;
    }

    .testimonial-section .testimonial-card .review-img img {
        max-width: 110px;
        width: 100%;
    }

    .testimonial-section .testimonial-card .review-detail p {
        font-size: 16px;
        line-height: 20px;
    }

    .pickup {
        padding: 25px 0 30px;
    }

    .pickup p {
        font-size: 22px;
        line-height: 28px;
    }

    .quality-section .quality-box .mySlider .quality-point .quality-icon {
        margin-bottom: 15px;
    }

    .quality-section .quality-box {
        min-height: auto;
        max-height: 480px;
    }

    .pickup-heading h1 {
        font-size: 46px;
        line-height: 56px;
        margin-bottom: 16px;
    }

    .pickup-heading p {
        font-size: 20px;
        line-height: 40px;
        max-width: 460px;
    }

    .banner-section {
        height: 350px;
    }

    .testimonial-section .testimonial-card {
        max-width: 340px;
        height: 400px;
    }

    .quality-section .quality-box h3 {
        font-size: 32px;
        line-height: 36px;
        padding: 25px 0;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 16px;
        line-height: 26px;
    }

    .quality-section .quality-box .mySlider {
        padding-bottom: 70px;
    }

    .quality-section .quality-box .mySlider .swiper-pagination .swiper-pagination-bullet {
        height: 14px;
        width: 14px;
    }

    .quality-section .quality-box .mySlider .quality-point .quality-icon {
        margin-bottom: 10px;
    }

    .testimonial-section h2 {
        font-size: 32px;
        line-height: 36px;
        max-width: 340px;
        margin-bottom: 30px;
    }

    .pickup-section .delivery-form .form-box .input-box label, .address-box label, .form-2 .form-2-box p {  
        font-size: 18px;
        line-height: 26px;
    }

    .testimonial-section {
        padding: 50px 0 0;
    }

    .card-section {
        padding: 30px 0 0;
     }

     .service-section .service-wrapper .service-box {
        max-width: 700px;
        padding-top: 165px;
        padding-left: 155px;
        height: 460px;
    }

    .service-section .service-wrapper .service-list {
        padding-left: 70px;
        padding-top: 80px;
    }
    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 30px;
        font-size: 32px;
        line-height: 36px;
    }
    .service-section .service-wrapper .service-box h2 {
        font-size: 38px;
        line-height: 45px;
        max-width: 390px;
    }

    .service-section .service-wrapper .service-list .book-btn {
        max-width: 200px;
        height: 40px;
        font-size: 16px;
        margin-top: 30px;
        line-height: 40px;
    }

        .service-section .service-wrapper .service-list ol li {
            font-size: 24px;
            line-height: 38px;
        }
    .maincontent h1 {
        font-size: 38px;
        line-height: 48px;
        max-width: 450px;
    }

    .mainform form input[type="email"] {
        max-width: 220px;
        font-size: 18px;
        height: 40px;
    }

    .mainform form input[type="submit"] {
        height: 40px;
        padding: 0;
        max-width: 115px;
        font-size: 18px;
    }

    .van_image h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .van_image_slider {
        max-width: 600px;
        clip-path: polygon(21% 0%, 100% 0, 100% 100%, 12% 100%, 0 82%);
    }

    .maincontent {
        padding-left: 70px;
    }

    .mainconentbottom .leftconet h1 {
        font-size: 22px;
        line-height: 36px;
    }

    .mainconentbottom .leftconet p {
        font-size: 16px;
    }

    .rating ul li img {
        width: 25px;
    }

    .rating span {
        font-size: 20px;
        line-height: 30px;
    }

    .van_image h1 {
        padding-top: 35px;
    }   

}

@media (max-width: 1299px) {

    .pickup-heading {
        padding-top: 75px;
        padding-left: 80px;
    }

    .pickup-heading h1 {
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 14px;
    }

    .pickup-heading p {
        font-size: 18px;
        line-height: 34px;
        max-width: 410px;
    }

    .pickup-heading {
        padding-top: 70px;
        padding-left: 65px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 680px;
    }

    .van_image h1 {
        padding-top: 60px;
        font-size: 36px;
        line-height: 42px;
    }

    .van_image_slider {
        max-width: 535px;
        clip-path: polygon(24% 0%, 100% 0, 100% 100%, 13% 100%, 0 82%);
    }

    .mainconentbottom {
        padding-left: 50px;
    }
}

@media (max-width: 1199px) {

    .van_image .van-img {
        position: relative;
        left: 0px;
    }

    .career-section .career-content h5 {
        margin-bottom: 10px;
        font-size: 32px;
        line-height: 40px;
    }

    .career-section .career-content p {
        font-size: 16px;
        line-height: 30px;
    }

    .fort-banner-section {
        padding: 30px 0 30px;
    }

    .fort-banner-first {
        padding: 20px 0;
    }

    .gallery-img {
        margin: 0 15px 30px;
    }

    .navbar .call-link {
        margin-left: 16px;
        font-size: 18px;
        line-height: 24px;
    }

    .navbar .navbar-nav li {
        margin-right: 15px;
    }

    .navbar .navbar-nav li a {
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .sign-up {
        padding: 8px 18px;
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .call-link img {
        margin-right: 5px;
        width: 22px;
    }

    .footer-wrapper {
        gap: 10px;
        padding-top: 14px;
    }

    .footer-wrapper .box-3 {
        width: 260px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        max-width: 80px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        padding: 8px;
    }

    .footer-wrapper .box-2 {
        width: 235px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box h5 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box ul li a {
        font-size: 16px;
        line-height: 22px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-label {
        font-size: 16px;
        max-width: 200px;
        line-height: 22px;
    }

    .social-links {
        margin-top: 12px;
    }

    .footer-wrapper .box-1 {
        width: 180px;
    }

    .footer .footer-box .footer-logo {
        padding-top: 14px;
    }

    .about-section p {
        font-size: 18px;
        line-height: 32px;
    }

    .about-section h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .about-section .about-box p, .about-section .about-box ul li {
        font-size: 16px;
        line-height: 26px;
    }

    .pickup {
        padding: 30px 0;
    }

    .pickup p {
        font-size: 20px;
        line-height: 26px;
    }

    .about-heading h1 {
        font-size: 48px;
        line-height: 80px;
    }

    .quality-section .quality-box h3 {
        font-size: 30px;
        padding: 22px 0 30px;
    }


    .inspection-list {
        max-width: 470px;
        width: 100%;
        padding-top: 5px;
    }

    .inspection-list ul li {
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        color: #141414;
        margin-bottom: 13px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 16px;
        line-height: 20px;
    }

    .quality-section .quality-box .mySlider .swiper-pagination .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
    }

    .quality-icon img {
        max-width: 110px;
    }

    .award img {
        max-width: 180px;
    }

    .testimonial-section .testimonial-card h3 {
        margin-top: 90px;
    }

    .testimonial-section .testimonial-card .review {
        font-size: 18px;
        line-height: 30px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 10px;
        gap: 30px;
    }

    .testimonial-section .testimonial-card .review-detail p {
        font-size: 16px;
        line-height: 20px;
    }

    .about-section .about-box {
        height: 100%;
        padding: 30px 30px 40px;
    }

    .about-section .about-box h5 {
        margin-bottom: 35px;
    }

    .pickup-heading h1 {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 14px;
    }

    .pickup-heading p {
        font-size: 16px;
        line-height: 32px;
        max-width: 380px;
    }

    .banner-section .banner-heading {
        font-size: 42px;
        line-height: 45px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box ul li a img {
        width: 20px;
        margin-top: 4px;
    }

    .testimonial-section .testimonial-card {
        max-width: 275px;
    }

    
    .service-section .service-wrapper .service-box {
        max-width: 590px;
        padding-left: 120px;
        padding-top: 145px;
        height: 430px;
    }

    .deskview {
        display: none;
    }

    .mobileview {
        display: block;
    }

    .hh {
        display: none;
    }

    .home_slider {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    .van_image {
        text-align: center;
        height: auto;
        max-width: 100%;
        width: 100%;
        display: block;
    }

    .van_image .van-img {
        max-width: 540px;
        width: 100%;
    }

    .van_image h1 {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .van_image_slider {
        max-width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 600px;
    }

    .right_class {
        text-align: right;
    }

    .right_class img {
        width: 100%;
    }

    .maincontent h1 {
        font-size: 44px;
        line-height: 60px;
        max-width: 600px;
    }

    .mainform, .maincontent h1 {
        padding-left: 15px;
    }

    .mainform form input[type="email"] {
        height: 40px;
        font-size: 16px;
    }

    .mainform form input[type="submit"] {
        height: 40px;
        font-size: 16px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .service-section .service-wrapper .service-list {
        padding-left: 44px;
        padding-top: 70px;
    }

    .service-section .service-wrapper .service-list ol li {
        font-size: 24px;
        line-height: 42px;
    }

    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 45px;
        font-size: 32px;
        line-height: 38px;
    }

}

@media (max-width: 1024px) {

    .pickup-heading {
        padding-top: 60px;
        padding-left: 50px;
    }

    .pickup-heading h1 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 10px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonial-section .testimonial-card .review {
        font-size: 18px;
        line-height: 28px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 20px;
        gap: 20px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 555px;
        padding-left: 110px;
        padding-top: 130px;
        height: 400px;
    }
}

@media (max-width: 991px) {

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 20px;
        gap: 60px;
    }

    .modal .modal_signup {
        padding: 10px 0 20px;
    }

    .select-wrapper {
        justify-content: center;
        row-gap: 10px;
    }

    .select-wrapper .select-box label {
        margin-bottom: 0;
    }

    .testimonial-section .testimonial-card {
        max-width: 320px;
    }

    .about-section p {
        font-size: 16px;
        line-height: 28px;
    }

    .career-section .career-content p {
        max-width: 100%;
        font-size: 18px;
        line-height: 32px;
    }

    .career-section .career-content .apply-now {
        max-width: 250px;
    }

    .career-section .career-content {
        margin-top: 20px;
    }

    .banner-section .banner-heading {
        font-size: 45px;
        line-height: 60px;
    }

    .banner-section {
        height: 300px;
    }

    .navbar .navbar-nav li {
        margin-top: 10px;
    }
    .navbar .navbar-nav li a {
        font-size: 16px;
        line-height: 20px;
        margin-left: 20px;
    }
    .navbar .sign-up {
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .footer-end p {
        font-size: 16px;
        line-height: 22px;
    }

    .footer .footer-box {
        flex-wrap: wrap;
        gap: 40px;
    }

    .footer .footer-box .footer-logo {
        width: 100%;
        text-align: center;
    }

    .footer .footer-box .footer-logo img {
        max-width: 230px;
    }

    .footer-wrapper {
        gap: 10px 40px;
        padding: 0;
    }

    .footer-wrapper .box-3 {
        width: 250px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        max-width: 160px;
        font-size: 14px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        font-size: 14px;
        max-width: 70px;
    }

    #myBtn {
        right: 30px;
    }

    #myBtn img {
        width: 38px;
    }

    .footer-wrapper .box-3 {
        width: 220px;
    }

    .inspection-section h3 {
        font-size: 36px;
        line-height: 48px;
    }

    .inspection-box {
        flex-wrap: wrap;
    }

    .inspection-img {
        width: 100%;
        text-align: center;
    }

    .inspection-list {
        margin: 0 auto;
        padding-top: 0;
    }

    .inspection-list ul {
        padding-left: 10px;
    }

    .fort-container {
        column-gap: 50px;
    }

    .about-heading h1 {
        font-size: 38px;
        line-height: 62px;
    }

    .award img {
        max-width: 180px;
    }

    .pickup-flex {
        flex-wrap: wrap;
    }

    .pickup-banner-box, .pickup-banner-box img {
        width: 100%;
    }

    .pickup-heading {
        padding-top: 120px;
        padding-left: 140px;
    }

    .pickup-heading h1 {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 30px;
    }

    .pickup-heading p {
        font-size: 28px;
        line-height: 45px;
        max-width: 512px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 430px;
        padding-left: 60px;
        padding-top: 130px;
        height: 360px;
    }
    .service-section .service-wrapper .service-box h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .service-section .service-wrapper .service-list {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 10px;
    }


    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 32px;
    }

    .service-section .service-wrapper .service-list .book-btn {
        margin-top: 20px;
        max-width: 230px;
    }
    .maincontent h1 {
        font-size: 48px;
        line-height: 62px;
        max-width: 600px;
    }
    .van_image_slider {
        height: 500px;
    }
    .service-section .service-wrapper .service-list ol li {
        font-size: 24px;
        line-height: 38px;
    }


}

@media (max-width: 767px) {

    .quality-icon img {
        max-width: 140px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 18px;
        line-height: 32px;
    }

    .quality-section .quality-box .mySlider {
        padding-bottom: 80px;
    }

    .inspection-list ul {
        margin-bottom: 20px;
    }

    .testimonial-section .testimonial-card .review {
        font-size: 18px;
        line-height: 28px;
    }

    .career-section .career-content p {
        font-size: 16px;
        line-height: 30px;
    }

    .career-section .career-content .apply-now {
        max-width: 220px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        max-width: 248px;
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        font-size: 16px;
        max-width: 75px;
    }

    .footer-wrapper .box-3 {
        width: 270px;
    }

    .about-heading h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .quality-section .quality-box {
        min-height: 570px;
    }

    .quality-section .quality-box h3 {
        padding: 32px 0 42px;
    }

    .footer-wrapper .box-3 {
        width: 250px;
    }

    .inspection-list ul li {
        margin-bottom: 0px;
    }

    .pickup p {
        font-size: 20px;
        line-height: 28px;
    }

    .about-flex img {
        min-height: 250px;
    }

    .pickup-heading {
        padding-top: 90px;
        padding-left: 90px;
    }

    .pickup-heading h1 {
        font-size: 55px;
        line-height: 66px;
        margin-bottom: 24px;
    }

    .pickup-heading p {
        font-size: 26px;
        line-height: 42px;
        max-width: 460px;
    }

    .pickup-section .delivery-form .form-box .input-box {
        max-width: 100%;
    }


    .banner-section .banner-heading {
        font-size: 40px;
        line-height: 48px;
    }

    .testimonial-section h2 {
        margin-bottom: 20px;
    }

    .career-section .career-content h5 {
        font-size: 30px;
        line-height: 36px;
    }

    .van_image_slider {
        height: 460px;
    }

       .service-section .service-wrapper .service-list .book-btn {
        margin-top: 15px;
        max-width: 200px;
    }

       .service-section .service-wrapper .service-box {
        padding-left: 60px;
        padding-top: 130px;
        height: 350px;
    }

        .service-box h2 {
        font-size: 38px;
        line-height: 40px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 40px;
        line-height: 54px;
    }
    .maincontent {
        padding-top: 0;
    }

    .maincontent h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .mainform {
        padding-top: 15px;
    }

    .service-section .service-wrapper {
        flex-wrap: wrap;
    }

    .service-section .service-wrapper .service-box {
        max-width: 100%;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .service-section .service-wrapper .service-list {
        max-width: 554px;
        width: 100%;
        margin: 0 auto;
    }
    
}

@media (max-width: 625px) {
    .about-flex {
        flex-wrap: wrap;
    }

    .about-section .about-box ul {
        left: 0px;
        padding-left: 20px;
    }

    .about-heading h1 {
        font-size: 60px;
        line-height: 75px;
    }

    .pickup-heading {
        padding-top: 60px;
        padding-left: 60px;
    }

    .pickup-heading h1 {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 20px;
    }

    .maincontent h1 {
        font-size: 30px;
        line-height: 35px;
    }

    .mainform form input[type="email"] {
        max-width: 180px;
    }

    .van_image_slider {
        height: 420px;
    }

}

@media (max-width: 575px) {

    .career-section .career-content h5 {
        font-size: 28px;
        line-height: 34px;
    }

    .career-section .career-content .apply-now {
        max-width: 200px;
    }

    .gallery-img {
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .pickup-heading {
        padding-top: 50px;
        padding-left: 40px;
    }

    .pickup-heading h1 {
        font-size: 45px;
        line-height: 54px;
        margin-bottom: 10px;
    }

    .pickup-heading p {
        font-size: 18px;
        line-height: 36px;
        max-width: 400px;
    }

    .about-heading {
        left: 20%;
    }

    .about-flex img {
        min-height: auto;
    }

    .about-heading h1 {
        font-size: 50px;
        line-height: 66px;
    }

    .footer .footer-box {
        gap: 20px;
    }

    .footer-wrapper {
        flex-wrap: wrap;
        padding-left: 20px;
        gap: 20px;
    }

    .about-section p {
        font-size: 16px;
        line-height: 28px;
    }

    .about-section h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .quality-section .quality-box {
        min-height: 525px;
    }

    .quality-section .quality-box h3 {
        font-size: 28px;
        line-height: 32px;
    }

    .quality-section .quality-box h3 {
        padding: 32px 0 22px;
    }

    .inspection-section h3 {
        font-size: 30px;
        line-height: 38px;
    }

    .inspection-section h6 {
        font-size: 20px;
        line-height: 32px;
    }

    .inspection-list ul {
        padding-left: 20px;
    }

    .inspection-list ul li {
        font-size: 20px;
        line-height: 32px;
    }

    .award img {
        max-width: 160px;
    }

    .footer .footer-box .footer-logo {
        padding: 0;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 30px;
        line-height: 42px;
        max-width: 290px;
    }
    
    .van_image_slider {
        height: 330px;
    }
    
        .service-section .service-wrapper .service-list {
            padding-left: 20px;
        }
    
        .van_image h1 {
            font-size: 32px;
            line-height: 42px;
        }
    
        .maincontent h1 {
            position: relative;
            bottom: 20px;
        }
    
        .mainform {
            padding-top: 0;
        }
    
        .mainform form input[type="email"] {
            max-width: 220px;
        }
    
        .van_image_slider::after, .mainconentbottom {
            height: 75px;
        }
    
        .rating ul li img {
            width: 20px;
        }
    
        .rating span {
            font-size: 18px;
            line-height: 22px;
        }
}

@media (max-width: 525px) {

    .mainconentbottom .leftconet h1 {
        font-size: 20px;
        line-height: 32px;
    }

    .mainconentbottom .leftconet p {
        font-size: 14px;
    }

    .maincontent h1 {
        font-size: 24px;
        line-height: 32px;
        bottom: 30px;
        max-width: 400px;
    }
    .mainform form input[type="email"] {
        max-width: 260px;
        height: 36px;
        padding: 12px 14px;
        font-size: 16px;
    }

    .mainform form input[type="submit"] {
    height: 36px;
    max-width: 100px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    padding: 0;
}

.mainform {
    padding-top: 0;
    position: relative;
    bottom: 10px;
}

.mainform form input[type="email"] {
    max-width: 190px;
}

.mainconentbottom {
    padding-left: 0px;
}
 .mainconentbottom .leftconet h1 {
    font-size: 20px;
 }
 .mainconentbottom .leftconet p {
    font-size: 14px;
}

.rating ul li img {
    width: 18px;
}

.rating span {
    font-size: 16px;
    line-height: 26px;
}

.van_image_slider::after, .mainconentbottom {
    height: 90px;
}

.mainform, .maincontent h1 {
    padding-left: 0px;
}
}

@media (max-width: 428px) {


    .career-section .career-content .apply-now {
        max-width: 272px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        max-width: 180px;
    }

    .career-section .career-content p {
        line-height: 26px;
        margin-bottom: 30px;
    }

    .testimonial-section h2 {
        font-size: 38px;
    }

    .footer-end p {
        font-size: 15px;
        line-height: 20px;
    }

    .pickup-section h3 {
        font-size: 38px;
        line-height: 54px;
    }

    .pickup-section h6 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .pickup-heading h1 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .pickup-heading p {
        font-size: 16px;
        line-height: 32px;
        max-width: 370px;
    }

    .pickup-heading {
        padding-top: 45px;
        padding-left: 20px;
    }

    .about-heading h1 {
        font-size: 52px;
        line-height: 66px;
    }

    .pickup {
        padding: 20px 0;
    }

    .pickup p {
        font-size: 18px;
        line-height: 28px;
    }

    .fort-banner {
        min-height: 480px;
    }

    .award img {
        max-width: 150px;
    }

    .quality-section .quality-box h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .inspection-list ul li {
        font-size: 16px;
        line-height: 32px;
    }

    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    
    .service-section .service-wrapper .service-list .book-btn {
        max-width: 180px;
    }
    
            .service-section .service-wrapper .service-box {
                padding-left: 30px;
            }
    
        .service-section .service-wrapper .service-list ol li {
            font-size: 18px;
            line-height: 30px;
        }
    
        .van_image_slider {
            height: 260px;
        }
        .maincontent h1 {
            font-size: 22px;
            line-height: 28px;
        }
    
        .mainform form input[type="email"] {
            max-width: 170px;
        }
    
        .mainconentbottom .leftconet h1 {
            font-size: 18px;
        }
    
        .mainconentbottom .leftconet p {
            font-size: 12px;
        }
    
        .rating ul li img {
            width: 16px;
        }
    
        .rating span {
            font-size: 15px;
            line-height: 20px;
        }
    
        .van_image_slider::after, .mainconentbottom {
            height: 75px;
        }
    
        .van_image h1 {
        font-size: 28px;
        line-height: 34px;
        }
    
        .mainconentbottom .leftconet h1 {
            line-height: 35px;
        }
            .service-section .service-wrapper .service-box h2 {
            font-size: 35px;
            line-height: 45px;
        }

        .maincontent {
            padding-left: 40px;
        }           

        .maincontent h1 {
            font-size: 22px;
            line-height: 34px;
        }
}

@media (max-width: 375px) {

    .fort-banner {
        min-height: 500px;
    }

    .pickup p {
        font-size: 16px;
        line-height: 26px;
    }
    
    .navbar .call-link {
        margin-left: 5px;
    }

    .footer-end p {
        font-size: 14px;
    }

    .pickup-heading {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 10px;
    }

    .pickup-heading h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 5px;
    }

    .pickup-section h3 {
        font-size: 36px;
        line-height: 48px;
    }

    .pickup-section h6 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .pickup-section .delivery-form .form-box .input-box label, .address-box label, .form-2 .form-2-box p {
        font-size: 18px;
    }

    .footer-wrapper {   
        padding-left: 10px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 16px;
        line-height: 28px;
    }
    .maincontent h1,.mainform {
        right: 25px;
    }
    
    .service-section .service-wrapper .service-box h2 {
        font-size: 32px;
        line-height: 42px;
    }
    
}

@media (max-width: 340px) {
    
}