@media(min-width:1600px){
    .container {
        max-width: 1600px;
    }
}

@media (max-width: 1690px) {
    .service-section .service-wrapper .service-list {
        padding-left: 35px;
    }
    
    .pickup-heading {
        position: absolute;
        top: 0;
        padding-top: 90px;
        padding-left: 130px;
    }

    .pickup-heading h1 {
        font-size: 58px;
        line-height: 82px;
        margin-bottom: 22px;
    }

    .pickup-heading p {
        font-size: 28px;
        font-weight: 500;
        line-height: 45px;
        color: #FFFFFF;
        max-width: 500px;
    }

    
}


@media (max-width: 1599px) {

    .navbar .call-link {
        margin-left: 30px;
        font-size: 22px;
        line-height: 32px;
    }

    .navbar .sign-up {
        padding: 10px 22px;
        font-size: 18px;
        line-height: 24px;
    }

    
    .navbar .call-link img {
        margin-right: 8px;
    }

    .navbar .navbar-nav li {
        margin: 0;
        margin-right: 24px;
    }

    .footer .footer-box {
        justify-content: space-between;
    }
    .footer .footer-box .footer-logo {
        padding-right: 10px;
        padding-top: 10px;
    }
    .footer .footer-box .footer-logo img {
        max-width: 355px;
        width: 100%;
    }

    .footer-wrapper {
        gap: 10px 30px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box h5 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 42px;
    }

    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 45px;
        font-size: 38px;
        line-height: 42px;
    }

    .service-section .service-wrapper .service-list ol li {
        font-size: 28px;
        line-height: 44px;
    }

    .service-section .service-wrapper .service-list .book-btn {
        margin-top: 35px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 900px;
        padding-top: 185px;
        padding-left: 175px;
    }

    .service-section .service-wrapper .service-list {
        padding-left: 70px;
        padding-top: 115px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 54px;
        line-height: 64px;
    }

    .quality-section .quality-box h3 {
        font-size: 38px;
    }

    .about-section p {
        font-size: 28px;
        line-height: 42px;
    }

    .about-section .about-box h5 {
        font-size: 38px;
        line-height: 54px;
    }

    .about-section .about-box p, .about-section .about-box ul li {
        font-size: 22px;
        line-height: 36px;
    }

    .award img {
        max-width: 300px;
        width: 100%;
    }

    .quality-section .quality-box .mySlider .quality-point {
        padding: 0 16px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 18px;
        line-height: 28px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 30px;
        margin-bottom: 22px;
    }

    .pickup-heading {
        padding-top: 100px;
        padding-left: 115px;
    }

    .pickup-heading h1 {
        font-size: 54px;
        line-height: 76px;
        margin-bottom: 20px;
    }

    .pickup-heading p {
        font-size: 22px;
        line-height: 44px;
        max-width: 480px;
    }

}

@media (max-width: 1428px) {
    .service-section .service-wrapper .service-box {
        max-width: 800px;
    }

    .about-section p {
        font-size: 26px;
    }

    .pickup-heading p {
        font-size: 21px;
        line-height: 42px;
        max-width: 460px;
    }

    .pickup-heading h1 {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 18px;
    }
}

@media (max-width: 1399px) {

    .pickup-heading {
        padding-top: 85px;
        padding-left: 90px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 700px;
        padding-top: 165px;
        padding-left: 155px;
        height: 480px;
    }

    .service-section .service-wrapper .service-list {
        padding-left: 70px;
        padding-top: 80px;
    }
    .service-section .service-wrapper .service-box h2 {
        font-size: 48px;
        line-height: 58px;
    }

    .fort-container {
        justify-content: center;
        column-gap: 80px;
    }

    .award img {
        max-width: 270px;
    }
    
    .navbar .call-link {
        margin-left: 25px;
        font-size: 20px;
        line-height: 28px;
    }

    .navbar .navbar-nav li {
        margin-right: 22px;
    }

    .navbar .navbar-nav li a {
        font-size: 18px;
        line-height: 26px;
    }

    .navbar .sign-up {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 26px;
    }

    .footer .footer-box .footer-logo img {
        max-width: 320px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box h5 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box ul li a {
        font-size: 18px;
        line-height: 26px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-label {
        font-size: 18px;
        line-height: 24px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        max-width: 210px;
        font-size: 16px;
        height: 40px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        max-width: 115px;
        font-size: 16px;
        height: 40px;
        padding: 0;
        line-height: 40px;
    }

    .footer-wrapper .box-3 {
        width: 300px;
    }

    .social-links {
        margin-top: 20px;
    }

    .social-links .follow {
        font-size: 18px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box ul li a img {
        width: 25px;
        margin-top: 4px;
    }

    .footer-end p {
        font-size: 16px;
        line-height: 32px;
    }

    .footer-wrapper {
        gap: 10px 20px;
    }

    .footer-wrapper .box-2 {
        width: 240px;
    }

    .footer .footer-box .footer-wrapper .box-2 ul li a {
        align-items: flex-start;
    }

    .about-section p {
        font-size: 22px;
        line-height: 38px;
    }

    .about-section .about-box p, .about-section .about-box ul li {
        font-size: 20px;
        line-height: 32px;
    }

    .about-section .about-box ul {
        left: 35px;
    }

    .about-heading h1 {
        font-size: 50px;
    }

    .inspection-section h3 {
        font-size: 38px;
        line-height: 56px;
    }

    .inspection-section h6 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .inspection-list ul li {
        font-size: 24px;
        line-height: 36px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .testimonial-section .testimonial-card .review {
        font-size: 20px;
        line-height: 30px;
    }

    .testimonial-section .testimonial-card h3 {
        margin-top: 115px;
        line-height: 28px;
    }

    .testimonial-section .testimonial-card .review-img img {
        max-width: 115px;
        width: 100%;
    }

    .pickup {
        padding: 30px 0 38px;
    }

    .pickup p {
        font-size: 24px;
        line-height: 36px;
    }

    .quality-section .quality-box .mySlider .quality-point .quality-icon {
        margin-bottom: 15px;
    }

    .quality-section .quality-box h3 {
        padding: 40px 0 60px;
    }

    .quality-section .quality-box {
        min-height: 600px;
    }

    .pickup-heading h1 {
        font-size: 46px;
        line-height: 56px;
        margin-bottom: 16px;
    }

    .pickup-heading p {
        font-size: 20px;
        line-height: 40px;
        max-width: 460px;
    }
}

@media (max-width: 1299px) {
    .service-section .service-wrapper .service-box {
        max-width: 680px;
    }

    .pickup-heading {
        padding-top: 75px;
        padding-left: 80px;
    }

    .pickup-heading h1 {
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 14px;
    }

    .pickup-heading p {
        font-size: 18px;
        line-height: 34px;
        max-width: 410px;
    }

    .pickup-heading {
        padding-top: 70px;
        padding-left: 65px;
    }
}

@media (max-width: 1199px) {

    .navbar .call-link {
        margin-left: 16px;
        font-size: 18px;
        line-height: 24px;
    }

    .navbar .navbar-nav li {
        margin-right: 15px;
    }

    .navbar .navbar-nav li a {
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .sign-up {
        padding: 8px 18px;
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .call-link img {
        margin-right: 5px;
        width: 22px;
    }

    .footer-wrapper {
        gap: 10px;
        padding-top: 14px;
    }

    .footer-wrapper .box-3 {
        width: 260px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        max-width: 80px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        padding: 8px;
    }

    .footer-wrapper .box-2 {
        width: 235px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box h5 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .footer .footer-box .footer-wrapper .wrapper-box ul li a {
        font-size: 17px;
        line-height: 24px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-label {
        font-size: 17px;
        max-width: 200px;
    }

    .social-links {
        margin-top: 12px;
    }

    .footer-wrapper .box-1 {
        width: 180px;
    }

    .footer .footer-box .footer-logo {
        padding-top: 14px;
    }

    .about-section p {
        font-size: 18px;
        line-height: 32px;
    }

    .about-section h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .about-section .about-box p, .about-section .about-box ul li {
        font-size: 18px;
        line-height: 28px;
    }

    .pickup {
        padding: 30px 0;
    }

    .pickup p {
        font-size: 22px;
        line-height: 32px;
    }

    .about-heading h1 {
        font-size: 48px;
        line-height: 80px;
    }

    .quality-section .quality-box h3 {
        font-size: 34px;
        padding: 30px 0 50px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 590px;
        padding-left: 120px;
        padding-top: 145px;
        height: 430px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .service-section .service-wrapper .service-list {
        padding-left: 44px;
        padding-top: 70px;
    }

    .service-section .service-wrapper .service-list ol li {
        font-size: 24px;
        line-height: 42px;
    }

    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 45px;
        font-size: 32px;
        line-height: 38px;
    }

    .inspection-list {
        max-width: 470px;
        width: 100%;
        padding-top: 5px;
    }

    .inspection-list ul li {
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        color: #141414;
        margin-bottom: 13px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 16px;
        line-height: 24px;
    }

    .quality-section .quality-box {
        min-height: 570px;
    }

    .award img {
        max-width: 230px;
    }

    .testimonial-section .testimonial-card h3 {
        margin-top: 90px;
    }

    .testimonial-section .testimonial-card .review {
        font-size: 18px;
        line-height: 30px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 10px;
    }

    .testimonial-section .testimonial-card .review-detail p {
        font-size: 16px;
        line-height: 20px;
    }

    .about-section .about-box {
        height: 100%;
        padding: 30px 30px 60px;
    }

    .about-section .about-box h5 {
        margin-bottom: 35px;
    }

    .pickup-heading h1 {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 14px;
    }

    .pickup-heading p {
        font-size: 16px;
        line-height: 32px;
        max-width: 380px;
    }


}

@media (max-width: 1024px) {

    .pickup-heading {
        padding-top: 60px;
        padding-left: 50px;
    }

    .pickup-heading h1 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 10px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 555px;
        padding-left: 110px;
        padding-top: 130px;
        height: 400px;
    }

    .quality-section .quality-box .mySlider .quality-point p {
        font-size: 18px;
        line-height: 26px;
    }

    .testimonial-section .testimonial-card .review {
        font-size: 20px;
        line-height: 30px;
    }

    .testimonial-section .testimonial-card .review-detail {
        padding: 0 20px;
    }
}

@media (max-width: 991px) {


    .navbar .navbar-nav li {
        margin-top: 10px;
    }
    .navbar .navbar-nav li a {
        font-size: 16px;
        line-height: 20px;
        margin-left: 20px;
    }
    .navbar .sign-up {
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .footer-end p {
        font-size: 16px;
        line-height: 22px;
    }

    .footer .footer-box {
        flex-wrap: wrap;
        gap: 40px;
    }

    .footer .footer-box .footer-logo {
        width: 100%;
        text-align: center;
    }

    .footer .footer-box .footer-logo img {
        max-width: 230px;
    }

    .footer-wrapper {
        gap: 10px 40px;
        padding: 0;
    }

    .footer-wrapper .box-3 {
        width: 250px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        max-width: 160px;
        font-size: 14px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        font-size: 14px;
        max-width: 70px;
    }

    #myBtn {
        right: 30px;
    }

    #myBtn img {
        width: 38px;
    }

    .footer-wrapper .box-3 {
        width: 220px;
    }

    .inspection-section h3 {
        font-size: 36px;
        line-height: 48px;
    }

    .inspection-box {
        flex-wrap: wrap;
    }

    .inspection-img {
        width: 100%;
        text-align: center;
    }

    .inspection-list {
        margin: 0 auto;
        padding-top: 0;
    }

    .inspection-list ul {
        padding-left: 10px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .service-section .service-wrapper .service-list {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 10px;
    }


    .service-section .service-wrapper .service-list h3 {
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 32px;
    }

    .service-section .service-wrapper .service-list ol li {
        font-size: 24px;
        line-height: 38px;
    }

    .service-section .service-wrapper .service-list .book-btn {
        margin-top: 20px;
        max-width: 230px;
    }

    .fort-container {
        column-gap: 50px;
    }

    .about-heading h1 {
        font-size: 38px;
        line-height: 62px;
    }

    .award img {
        max-width: 180px;
    }

    .service-section .service-wrapper .service-box {
        max-width: 430px;
        padding-left: 60px;
        padding-top: 130px;
        height: 360px;
    }

    .pickup-flex {
        flex-wrap: wrap;
    }

    .pickup-banner-box, .pickup-banner-box img {
        width: 100%;
    }

    .pickup-heading {
        padding-top: 120px;
        padding-left: 140px;
    }

    .pickup-heading h1 {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 30px;
    }

    .pickup-heading p {
        font-size: 28px;
        line-height: 45px;
        max-width: 512px;
    }


}

@media (max-width: 767px) {

    .footer .footer-box .footer-wrapper .box-3 .footer-form input {
        max-width: 248px;
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .footer .footer-box .footer-wrapper .box-3 .footer-form button {
        font-size: 16px;
        max-width: 75px;
    }

    .footer-wrapper .box-3 {
        width: 270px;
    }

    .service-section .service-wrapper {
        flex-wrap: wrap;
    }

    .service-section .service-wrapper .service-box {
        max-width: 100%;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .about-heading h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .service-section .service-wrapper .service-list {
        max-width: 554px;
        width: 100%;
        margin: 0 auto;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .quality-section .quality-box {
        min-height: 570px;
    }

    .quality-section .quality-box h3 {
        padding: 32px 0 42px;
    }

    .footer-wrapper .box-3 {
        width: 250px;
    }
    .service-box h2 {
        font-size: 38px;
        line-height: 40px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 40px;
        line-height: 54px;
    }

    .inspection-list ul li {
        margin-bottom: 0px;
    }

    .pickup p {
        font-size: 20px;
        line-height: 28px;
    }

    .service-section .service-wrapper .service-box {
        padding-left: 60px;
        padding-top: 130px;
        height: 350px;
    }

    .about-flex img {
        min-height: 250px;
    }

    .pickup-heading {
        padding-top: 90px;
        padding-left: 90px;
    }

    .pickup-heading h1 {
        font-size: 55px;
        line-height: 66px;
        margin-bottom: 24px;
    }

    .pickup-heading p {
        font-size: 26px;
        line-height: 42px;
        max-width: 460px;
    }

    .pickup-section .delivery-form .form-box .input-box {
        max-width: 100%;
    }

    
}

@media (max-width: 625px) {
    .about-flex {
        flex-wrap: wrap;
    }

    .about-section .about-box ul {
        left: 0px;
        padding-left: 20px;
    }

    .about-heading h1 {
        font-size: 72px;
        line-height: 82px;
    }

    .pickup-heading {
        padding-top: 60px;
        padding-left: 60px;
    }

    .pickup-heading h1 {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 20px;
    }


}

@media (max-width: 575px) {

    .pickup-heading {
        padding-top: 50px;
        padding-left: 40px;
    }

    .pickup-heading h1 {
        font-size: 45px;
        line-height: 54px;
        margin-bottom: 10px;
    }

    .pickup-heading p {
        font-size: 18px;
        line-height: 36px;
        max-width: 400px;
    }

    .about-heading {
        left: 20%;
    }

    .about-flex img {
        min-height: auto;
    }

    .about-heading h1 {
        font-size: 65px;
        line-height: 74px;
    }

    .footer .footer-box {
        gap: 20px;
    }

    .footer-wrapper {
        flex-wrap: wrap;
        padding-left: 20px;
        gap: 20px;
    }

    .about-section p {
        font-size: 16px;
        line-height: 28px;
    }

    .about-section h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 42px;
        line-height: 48px;
    }

    .service-section .service-wrapper .service-list {
        padding-left: 20px;
    }

    .quality-section .quality-box {
        min-height: 525px;
    }

    .quality-section .quality-box h3 {
        font-size: 28px;
        line-height: 32px;
    }

    .quality-section .quality-box h3 {
        padding: 32px 0 22px;
    }

    .inspection-section h3 {
        font-size: 30px;
        line-height: 38px;
    }

    .inspection-section h6 {
        font-size: 20px;
        line-height: 32px;
    }

    .inspection-list ul {
        padding-left: 20px;
    }

    .inspection-list ul li {
        font-size: 20px;
        line-height: 32px;
    }

    .award img {
        max-width: 160px;
    }

    .footer .footer-box .footer-logo {
        padding: 0;
    }
}

@media (max-width: 428px) {

    .footer-end p {
        font-size: 15px;
        line-height: 20px;
    }

    .pickup-section h3 {
        font-size: 38px;
        line-height: 54px;
    }

    .pickup-section h6 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .pickup-heading h1 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .pickup-heading p {
        font-size: 16px;
        line-height: 32px;
        max-width: 370px;
    }

    .pickup-heading {
        padding-top: 45px;
        padding-left: 20px;
    }

    .about-heading h1 {
        font-size: 52px;
        line-height: 66px;
    }

    .pickup {
        padding: 20px 0;
    }

    .pickup p {
        font-size: 18px;
        line-height: 28px;
    }

    .fort-banner {
        min-height: 560px;
    }

    .service-section .service-wrapper .service-box {
        padding-left: 30px;
    }

    .quality-section .quality-box h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .inspection-list ul li {
        font-size: 16px;
        line-height: 32px;
    }

    .service-section .service-wrapper .service-box h2 {
        font-size: 40px;
        line-height: 46px;
    }


}

@media (max-width: 375px) {

    .pickup p {
        font-size: 16px;
        line-height: 26px;
    }
    
    .navbar .call-link {
        margin-left: 5px;
    }

    .footer-end p {
        font-size: 14px;
    }

    .pickup-heading {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 10px;
    }

    .pickup-heading h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 5px;
    }

    .pickup-section h3 {
        font-size: 36px;
        line-height: 48px;
    }

    .pickup-section h6 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .pickup-section .delivery-form .form-box .input-box label, .address-box label, .form-2 .form-2-box p {
        font-size: 18px;
    }

    .footer-wrapper {   
        padding-left: 10px;
    }
    
}

@media (max-width: 340px) {
    
}